body{
background-image: url('../image/background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

#canvas {
  min-width: 300px;
  height: 300px;
}

.icon-bar {
width: 100%;
background-color: #555;
overflow: auto;
}

.left a{
float: left;
width: 20%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}

.right a{
float: right;
width: 20%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}


.icon-bar a:hover {
background-color: #000;
}

.active {
background-color: #4CAF50;
}

menu {
list-style-type: none;
margin: 0;
padding: 0;
width: 20%;
padding: 12px 0;
background-color: #f1f1f1;
height: 100%;
overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.status-field{
    height: 40px;
    line-height: 0.5;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-buttons{
    display: flex;
    justify-content: space-between;
}


#on-btn, #off-btn, #send-btn, #update-btn{
    background-color: darkslategray;
    color: white;
}

.switch-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#switch{
    display: flex;
    align-items: center;
}

#myChart{
    height: 30vh;
}

.log{
    background-color: black;
    color: greenyellow;
}

.log ul li{
    list-style: none;
    color: greenyellow;
    word-wrap: break-word;
    font-size: 0.9rem;
}

.log #api-log li:nth-of-type(1n+6) {
        min-width: 260px;
        display: none;
        background-color: greenyellow;
}

#chart-input{
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .h1{
        font-size: 1.9rem;
    }

    .on-btn{
        margin-bottom: 10px;
    }

    .custom-switch{
        margin-bottom: 10px;
    }

    .log{
        min-height: 200px;
    }

    .chart {
        min-height: 300px;
    }

    .log ul li{
        font-size: 0.8rem;
    }

    .log #api-log li:nth-of-type(1n+6) {
        display: none;
}
}
