html,body{
background-image: url('../image/background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

.container{
height: 100%;
align-content: center;
border:0 !important;
}

.card{
align-content: center;
height: 260;
margin: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #1161ee;
color: black;
border:0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #1161ee;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: #70A0F4;
}
